[Unit]
Description=Run backup daily
Requires=gnome-keyring-daemon.service
After=gnome-keyring-daemon.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target